:root {
  // Twisted Spot Palette
  // https://mycolor.space/?hex=%23FF5722&sub=1

  --color-primary: #ff5722;
  --color-primary-alt: #034A75;
  --color-secondary: #D8F3FF;
  --color-secondary-alt: #5E7998;
}

.btn--primary {
  @apply bg-primary;
}
.btn--primary-alt {
  @apply bg-primary-alt;
}
.btn--secondary {
  @apply bg-secondary;
  @apply text-black #{!important};
}
.btn--secondary-alt {
  @apply bg-secondary-alt;
}