:root {
  // Twisted Spot Palette
  // https://mycolor.space/?hex=%23FF5722&sub=1

  --color-primary: #ff5722;
  --color-primary-alt: #034A75;
  --color-secondary: #D8F3FF;
  --color-secondary-alt: #5E7998;
}
